[user]
	email = novaes.csw@gmail.com
	name = Camila Novaes
[core]
	editor = nvim
[alias]
	tree = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --decorate --all
	stash-all = stash save --include-untracked§
	uncommit = reset --soft HEAD^
	unstage = reset HEAD
[commit]
	template = ~/.git-commit-message.txt
	verbose = true
[init]
	defaultBranch = main
